body{
  background-color: black;
}
/* .poster-container{
  width: 50%;
  margin-left: 25%;
} */
.main-container{
  text-align: center;
}
.poster-container img{
  border: 7px solid white;
  margin: 74px 0px 0px 0px;
  width: 100%;
}
.poster-container h1{
  color: white;
  text-transform: uppercase;
  font-family: "Rubik Doodle Shadow";
  /* font-size: 40px; */
  font-size: 3rem;
  margin-top: 2px;
  font-weight: lighter;
}
